.scrum-bros-message {
    background-color: #f9f9f9;
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #065fd4;
    border: 1px solid #e5e5e5;
  }